In [2]:
import pandas as pd

In [3]:
score_data = pd.read_csv('data/score.csv', encoding='euc-kr', index_col='과목')
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

## Numpy 에서는..

In [3]:
import pandas as pd
import numpy as np

In [4]:
arr3 = np.array([[[1,2,3],[3,4,5]],[[4,5,6],[7,8,9]]])
arr3

array([[[1, 2, 3],
        [3, 4, 5]],

       [[4, 5, 6],
        [7, 8, 9]]])

In [5]:
print("배열의 형태 : ", arr3.shape) # 2행 3열이 2개 (개수, 행수, 열수)
print("배열의 차원 : ", arr3.ndim)
print("배열의 전체요소개수 : ", arr3.size)

배열의 형태 :  (2, 2, 3)
배열의 차원 :  3
배열의 전체요소개수 :  12

In [ ]:
arr10 = np.random.rand(2,3)
arr10

## Pansdas 에서는...

### Series에서는

Series는 1개의 column으로 이루어져 있는 자료형.
index 와 value로 이루어져 있고.
인덱스를 지정하여 

population = pd.Series([9904312,3448737,2890451,2466052], 
                      index = ['서울','부산','인천','대구'])

혹은, dictionary로 

population = pd.Series({"서울":9904312, "부산":3448737, "인천":2890451, "대구":2466052})

값을 만들어 줄 수 있으며, index를 넣지 않으면 자동으로 0번부터 입력된다.

### DF에서

- 기본적으로 loc, iloc는 행에 먼저 접근

#### 생성

data가 딕셔너리 자료형이라면 
변수명 = pd.DataFrame(data)로 만들수 있다.

리스트로 만들려면 pd.DataFrame(data,index,columns)로 만든다

#### 컬럼 추가
- 변수명['column'] = [value,value,value]

#### 컬럼 삭제 
- del 변수명
- 변수명.drop('column',axis=1,inplace=True)
- drop을 이용할 경우 inplace를 꼭 써주자! 바로 확인가능하게

#### 행 삭제
- 변수명.drop('row',inplace=True)

In [ ]:
score_data[] 대괄호는 행으로 먼저 접근

In [4]:
score_data[1] 은 실행 불가

KeyError: 1

In [ ]:
score_data[0:1] 행으로 접근가능

## Matplotliv

### bar

##### x-labeling

In [ ]:
x= np.arange(7)
plt.bar(x,y)
#문자로 tick 값들을 설정하기 위해서는 먼저 좌측부터 인덱스번호로 개수를 설정해야함
plt.xticks(np.arange(7), labels=['월','화','수','목','금','토','일'])
plt.show()