## 문제정의
- 보스턴 집값 데이터에서 어떤 특성이 집값에 얼마만큼 영향을 주는지 분석
- KNN을 이용한 회귀분석
- 다중 공선성 문제에 대해 이해

## 데이터 수집

In [3]:
# sklearn 에서는 교육용 데이터로 보스턴 집값 데이터를 제공한다. (dictionary 형태)
from sklearn.datasets import load_boston

boston = load_boston()

boston.keys()
# data : 특성 데이터
# target : 라벨 데이터
# feature_names : 컬럼명
# DESCR : 컬럼에 대한 설명

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

## 데이터 시각화 및 분석
- 딕셔너리를 데이터프레임으로 변환
- 특성과 라벨 간의 상관관계 분석
- 분석 결과를 히트맵으로 시각화

In [5]:
import pandas as pd

df_feature = pd.DataFrame(boston["data"],columns = boston["feature_names"])

df_feature.head()

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0     18.7  396.90   5.33

In [6]:
df_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [7]:
df_feature.describe()

             CRIM          ZN       INDUS        CHAS  ...         TAX     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170  ...  408.237154   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353    0.253994  ...  168.537116    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000    0.000000  ...  187.000000   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000    0.000000  ...  279.000000   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000    0.000000  ...  330.000000   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000    0.000000  ...  666.000000   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000    1.000000  ...  711.000000   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [9]:
df_label = pd.DataFrame(boston['target'],columns = ['price'])
df_label.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [10]:
# 특성 데이터와 라벨데이터를 하나의 데이터프레임으로 병합 -> concat()
df_boston = pd.concat([df_feature,df_label],axis=1)

df_boston

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  PTRATIO       B  LSTAT  price
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0     15.3  396.90   4.98   24.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0     17.8  396.90   9.14   21.6
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0     17.8  392.83   4.03   34.7
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0     18.7  394.63   2.94   33.4
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0     18.7  396.90   5.33   36.2
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...      ...     ...    ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0     21.0  391.99   9.67   22.4
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0     21.0  396.90   9.08   20.6
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0     21.0  396.90   5.64   23.9
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0     21.0  393.45   6.48   22.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0     21.0  396.90   7.88   11.9

[506 rows x 14 columns]

In [11]:
# 특성과 라벨의 상관관계 분석
df_boston.corr()

# 양의 정수 : 집 값을

             CRIM        ZN     INDUS      CHAS       NOX  ...       TAX   PTRATIO         B     LSTAT     price
CRIM     1.000000 -0.200469  0.406583 -0.055892  0.420972  ...  0.582764  0.289946 -0.385064  0.455621 -0.388305
ZN      -0.200469  1.000000 -0.533828 -0.042697 -0.516604  ... -0.314563 -0.391679  0.175520 -0.412995  0.360445
INDUS    0.406583 -0.533828  1.000000  0.062938  0.763651  ...  0.720760  0.383248 -0.356977  0.603800 -0.483725
CHAS    -0.055892 -0.042697  0.062938  1.000000  0.091203  ... -0.035587 -0.121515  0.048788 -0.053929  0.175260
NOX      0.420972 -0.516604  0.763651  0.091203  1.000000  ...  0.668023  0.188933 -0.380051  0.590879 -0.427321
RM      -0.219247  0.311991 -0.391676  0.091251 -0.302188  ... -0.292048 -0.355501  0.128069 -0.613808  0.695360
AGE      0.352734 -0.569537  0.644779  0.086518  0.731470  ...  0.506456  0.261515 -0.273534  0.602339 -0.376955
DIS     -0.379670  0.664408 -0.708027 -0.099176 -0.769230  ... -0.534432 -0.232471  0.291512 -0.496996  0.249929
RAD      0.625505 -0.311948  0.595129 -0.007368  0.611441  ...  0.910228  0.464741 -0.444413  0.488676 -0.381626
TAX      0.582764 -0.314563  0.720760 -0.035587  0.668023  ...  1.000000  0.460853 -0.441808  0.543993 -0.468536
PTRATIO  0.289946 -0.391679  0.383248 -0.121515  0.188933  ...  0.460853  1.000000 -0.177383  0.374044 -0.507787
B       -0.385064  0.175520 -0.356977  0.048788 -0.380051  ... -0.441808 -0.177383  1.000000 -0.366087  0.333461
LSTAT    0.455621 -0.412995  0.603800 -0.053929  0.590879  ...  0.543993  0.374044 -0.366087  1.000000 -0.737663
price   -0.388305  0.360445 -0.483725  0.175260 -0.427321  ... -0.468536 -0.507787  0.333461 -0.737663  1.000000

[14 rows x 14 columns]