In [1]:
ip_dic = {'192.168.70.153' : '이범기'}

In [2]:
from flask import Flask, redirect
app = Flask(__name__)
@app.route('/')
def index():
#     url = 'http://bumgiv.dothome.co.kr/'
#     return redirect(url)

@app.route('/sel_emp')
def sel_emp():
    dao = DA0()
    r = dao.select()
    return r
    
if __name__ == '__main__':
    app.run(host='192.168.70.153', port=5050)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://192.168.70.153:5050
Press CTRL+C to quit
192.168.70.153 - - [22/Sep/2022 12:01:07] "GET / HTTP/1.1" 302 -
192.168.70.153 - - [22/Sep/2022 12:01:13] "GET / HTTP/1.1" 302 -

In [ ]:
!pip install cx_oracle

In [6]:
import os

# r 은 이스케이프 코드 무시
LOCATION = r'C:\Users\AI\instantclient_21_6'
os.environ['PATH'] = LOCATION + ":" + os.environ['PATH']

In [7]:
import cx_Oracle

# DB연결
 - 1) Connection
 - 2) Cursor
 - 3) Execute
 - 4) Close

In [20]:
# 1. connection
db_id = 'hr'
db_pw = 'hr'
db_url = '127.0.0.1:1521/xe'
conn = cx_Oracle.connect(db_id,db_pw, db_url)
# 2. cursor
curs = conn.cursor()
# 3. execute
sql = 'select last_name, salary from employees'
result = curs.execute(sql)
result.fetchall()
# 4. close
# 연결통로를 닫을 때는, 역순으로 닫는다.
if curs != None:
    curs.close()
if conn != None:
    conn.close()

In [21]:
class DA0:
    import cx_Oracle
    def select(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.0.1:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        
        curs = conn.cursor()
        
        sql = 'select last_name, salary from employees'
        result = curs.execute(sql)
        r= result.fetchall()
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
        
        return r

In [27]:
dao = DA0()
r = dao.select()

# for name, salary in r :
#     print(f'name : {name} / salary : {salary}')

name : King / salary : 24000.0
name : Kochhar / salary : 17000.0
name : De Haan / salary : 17000.0
name : Hunold / salary : 9000.0
name : Ernst / salary : 6000.0
name : Austin / salary : 4800.0
name : Pataballa / salary : 4800.0
name : Lorentz / salary : 4200.0
name : Greenberg / salary : 12008.0
name : Faviet / salary : 9000.0
name : Chen / salary : 8200.0
name : Sciarra / salary : 7700.0
name : Urman / salary : 7800.0
name : Popp / salary : 6900.0
name : Raphaely / salary : 11000.0
name : Khoo / salary : 3100.0
name : Baida / salary : 2900.0
name : Tobias / salary : 2800.0
name : Himuro / salary : 2600.0
name : Colmenares / salary : 2500.0
name : Weiss / salary : 8000.0
name : Fripp / salary : 8200.0
name : Kaufling / salary : 7900.0
name : Vollman / salary : 6500.0
name : Mourgos / salary : 5800.0
name : Nayer / salary : 3200.0
name : Mikkilineni / salary : 2700.0
name : Landry / salary : 2400.0
name : Markle / salary : 2200.0
name : Bissot / salary : 3300.0
name : Atkinson / salary : 2800.0
name : Marlow / salary : 2500.0
name : Olson / salary : 2100.0
name : Mallin / salary : 3300.0
name : Rogers / salary : 2900.0
name : Gee / salary : 2400.0
name : Philtanker / salary : 2200.0
name : Ladwig / salary : 3600.0
name : Stiles / salary : 3200.0
name : Seo / salary : 2700.0
name : Patel / salary : 2500.0
name : Rajs / salary : 3500.0
name : Davies / salary : 3100.0
name : Matos / salary : 2600.0
name : Vargas / salary : 2500.0
name : Russell / salary : 14000.0
name : Partners / salary : 13500.0
name : Errazuriz / salary : 12000.0
name : Cambrault / salary : 11000.0
name : Zlotkey / salary : 10500.0
name : Tucker / salary : 10000.0
name : Bernstein / salary : 9500.0
name : Hall / salary : 9000.0
name : Olsen / salary : 8000.0
name : Cambrault / salary : 7500.0
name : Tuvault / salary : 7000.0
name : King / salary : 10000.0
name : Sully / salary : 9500.0
name : McEwen / salary : 9000.0
name : Smith / salary : 8000.0
name : Doran / salary : 7500.0
name : Sewall / salary : 7000.0
name : Vishney / salary : 10500.0
name : Greene / salary : 9500.0
name : Marvins / salary : 7200.0
name : Lee / salary : 6800.0
name : Ande / salary : 6400.0
name : Banda / salary : 6200.0
name : Ozer / salary : 11500.0
name : Bloom / salary : 10000.0
name : Fox / salary : 9600.0
name : Smith / salary : 7400.0
name : Bates / salary : 7300.0
name : Kumar / salary : 6100.0
name : Abel / salary : 11000.0
name : Hutton / salary : 8800.0
name : Taylor / salary : 8600.0
name : Livingston / salary : 8400.0
name : Grant / salary : 7000.0
name : Johnson / salary : 6200.0
name : Taylor / salary : 3200.0
name : Fleaur / salary : 3100.0
name : Sullivan / salary : 2500.0
name : Geoni / salary : 2800.0
name : Sarchand / salary : 4200.0
name : Bull / salary : 4100.0
name : Dellinger / salary : 3400.0
name : Cabrio / salary : 3000.0
name : Chung / salary : 3800.0
name : Dilly / salary : 3600.0
name : Gates / salary : 2900.0
name : Perkins / salary : 2500.0
name : Bell / salary : 4000.0
name : Everett / salary : 3900.0
name : McCain / salary : 3200.0
name : Jones / salary : 2800.0
name : Walsh / salary : 3100.0
name : Feeney / salary : 3000.0
name : OConnell / salary : 2600.0
name : Grant / salary : 2600.0
name : Whalen / salary : 4400.0
name : Hartstein / salary : 13000.0
name : Fay / salary : 6000.0
name : Mavris / salary : 6500.0
name : Baer / salary : 10000.0
name : Higgins / salary : 12008.0
name : Gietz / salary : 8300.0

In [ ]:
score = 100

name = '이범기'

In [ ]:
class scores:
    name = ''
    score = 0
    
    def print_info(self):
        print('이름 : {} / 점수 : {}'.format(self.name, self.score))