In [1]:
ip_dic = {'192.168.70.153' : '이범기'}

In [2]:
#!pip install cx_oracle

In [3]:
import os

# r 은 이스케이프 코드 무시
LOCATION = r'C:\Users\AI\instantclient_21_6'
os.environ['PATH'] = LOCATION + ":" + os.environ['PATH']

In [4]:
import cx_Oracle

# DB연결
 - 1) Connection
 - 2) Cursor
 - 3) Execute
 - 4) Close

In [5]:
# 1. connection
db_id = 'hr'
db_pw = 'hr'
db_url = '127.0.0.1:1521/xe'
conn = cx_Oracle.connect(db_id,db_pw, db_url)
# 2. cursor
curs = conn.cursor()
# 3. execute
sql = 'select last_name, salary from employees where salary >= 10000'
result = curs.execute(sql)
result.fetchall()
# 4. close
# 연결통로를 닫을 때는, 역순으로 닫는다.
if curs != None:
    curs.close()
if conn != None:
    conn.close()

In [6]:
import cx_Oracle
import pandas as pd
class DA0:

    def select(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.0.1:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)      
        curs = conn.cursor()        
        sql = 'select last_name, salary from employees where salary >= 10000'
        result = curs.execute(sql)
        r= result.fetchall()
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
        return r
    
    def select_df(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.0.1:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)    
        df = pd.read_sql(sql, conn)
        conn.close()
        return df

In [7]:
dao = DA0()
r = dao.select_df()
r
# for name, salary in r :
#     print(f'name : {name} / salary : {salary}')

# df[df['SALARY'] >= 10000]

    LAST_NAME   SALARY
0        King  24000.0
1     Kochhar  17000.0
2     De Haan  17000.0
3   Greenberg  12008.0
4    Raphaely  11000.0
5     Russell  14000.0
6    Partners  13500.0
7   Errazuriz  12000.0
8   Cambrault  11000.0
9     Zlotkey  10500.0
10     Tucker  10000.0
11       King  10000.0
12    Vishney  10500.0
13       Ozer  11500.0
14      Bloom  10000.0
15       Abel  11000.0
16  Hartstein  13000.0
17       Baer  10000.0
18    Higgins  12008.0

In [8]:
from flask import Flask, redirect
app = Flask(__name__)
@app.route('/')
def index():
#     url = 'http://bumgiv.dothome.co.kr/'
#     return redirect(url)
    return 'hello world'

@app.route('/sel_emp')
def sel_emp():
    dao = DA0()
    r = dao.select()
    result = '</br>'.join(map(str, r))
    return result
    
if __name__ == '__main__':
    app.run(host='192.168.70.153', port=5050)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://192.168.70.153:5050
Press CTRL+C to quit
192.168.70.153 - - [22/Sep/2022 12:42:12] "GET / HTTP/1.1" 200 -
192.168.70.153 - - [22/Sep/2022 12:42:26] "GET /sel_emp HTTP/1.1" 200 -

In [9]:
# score = 100

# name = '이범기'

In [10]:
class scores:
    name = ''
    score = 0
    
    def print_info(self):
        print('이름 : {} / 점수 : {}'.format(self.name, self.score))