# list

In [1]:
list1 = [2,5,7,9,10]
print(list1[0])
print(list1[3])
print(list1[2]+list1[-1])

2
9
17

In [2]:
list2 = [1,2,3,['a','b','c']]
temp = list2[3]
print(temp)
list2[3][1]

['a', 'b', 'c']

'b'

In [3]:
print(temp[1])

b

In [6]:
list3 = [0,1,2,3,4]
print(list3[1:3])
print(list3[:2])
print(list3[3:])
print(list3[3:4])

[1, 2]
[0, 1]
[3, 4]
[3]

In [7]:
list4 = [1,2,3]
list5 = [3,4,5,6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

In [1]:
list1=[4,5,6]
list2=[1,2,3]
list1+list2

[4, 5, 6, 1, 2, 3]

### list값 추가 - append

In [9]:
list5 = [0,1,2,3,4]
list5.append(5)
print(list5)
list5.append(6)
print(list5)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]

In [12]:
list_ = ['사과','포도',['수박','멜론'],'복숭아','딸기','오렌지']
apple = list_[0]
watermelon = list_[2][0]
orange = list_[5]

choice_list = []
choice_list.append(apple)
choice_list.append(orange)
choice_list.append(watermelon)
print(choice_list)

['사과', '오렌지', '수박']

### list값 추가 - insert

In [14]:
list5 = [0,1,2,3,4]
list5.insert(1,5)
print(list5)
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 4]
[0, 5, 1, 2, 3, 6, 4]

In [32]:
music_list = [["LOVE DIVE","아이브"],
             ["TOMBOY","(여자)아이들"],
             ["That That","싸이"]]
print(music_list)
music_list.insert(1,["사랑인가봐","멜로망스"])
music_list.insert(3,["봄여름가을겨울","빅뱅"])
print(music_list)
music_list

[['LOVE DIVE', '아이브'], ['TOMBOY', '(여자)아이들'], ['That That', '싸이']]
[['LOVE DIVE', '아이브'], ['사랑인가봐', '멜로망스'], ['TOMBOY', '(여자)아이들'], ['봄여름가을겨울', '빅뱅'], ['That That', '싸이']]

[['LOVE DIVE', '아이브'],
 ['사랑인가봐', '멜로망스'],
 ['TOMBOY', '(여자)아이들'],
 ['봄여름가을겨울', '빅뱅'],
 ['That That', '싸이']]

In [33]:
print(music_list)
index_value = int(input())
song = input()
singer = input()
music_list.insert(index_value,[song,singer])
print(music_list)

[['LOVE DIVE', '아이브'], ['사랑인가봐', '멜로망스'], ['TOMBOY', '(여자)아이들'], ['봄여름가을겨울', '빅뱅'], ['That That', '싸이']]
4
나의X에게
경서
[['LOVE DIVE', '아이브'], ['사랑인가봐', '멜로망스'], ['TOMBOY', '(여자)아이들'], ['봄여름가을겨울', '빅뱅'], ['나의X에게', '경서'], ['That That', '싸이']]

In [4]:
list6 = [0,1,2,3,4]
print(list6)
print("수정 전 : ",list6[1])
list6[1] = 7
print("수정 후 : ",list6[1])
print(list6)

[0, 1, 2, 3, 4]
수정 전 :  1
수정 후 :  7
[0, 7, 2, 3, 4]

##### list범위자체를 바꾸는것

In [5]:
print(list6)
list6[2:4]= [7]
print(list6)

[0, 7, 2, 3, 4]
[0, 7, 7, 4]

##### list값 하나만 바꿀때 - [ ]를 씌워줄 필요가 없다

In [9]:
array = [1,2,3,4,5]
array[4] = 7
print(array)

[1, 2, 3, 4, 7]

In [10]:
# 안에다가 리스트를 넣어줄때는 [ ]를 씌워준다
print(array)
array[1]=['a','b','c']
print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]

In [14]:
array = [1,2,3,4,5]
array[-1]=7
array[1]=['a','b','c']
array[3:]=['d','e','f','g']
print(array)

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [17]:
array = [1,2,3,4,5]
array[-1]=7
array[1]=['a','b','c']
array[3:]=['d','e','f','g']
# [0]으로하면 ['h','i','j'] , [0:1]로 하면 'h','i','j'이렇게 들어간다.
array[0:1] = ['h','i','j']
print(array)

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

##### list del - 인덱스(index)에 접근 후 삭제

In [20]:
list7 = [0,1,2,3,4,5]
del list7[1]
print(list7)
del list7[2:4]
print(list7)

[0, 2, 3, 4, 5]
[0, 2, 5]

##### list remove - 값(Value)에 접근 후 삭제

In [19]:
list8 = ['a','b','c','d','e']
list8.remove('b')
print(list8)

['a', 'c', 'd', 'e']

### list sorting!

In [21]:
list9 = [9,77,13,51,100,3]
print(list9)
list9.sort()
print(list9)

[9, 77, 13, 51, 100, 3]
[3, 9, 13, 51, 77, 100]

In [26]:
# 내림차순은 먼저 sort하고 reverse를 하면 내림차순으로 정렬 가능!
list9 = [9,77,13,51,100,3]
print(list9)
print("-----------------------")
list9.sort()
print(list9)
print("-----------------------")
list9.reverse()
print(list9)

[9, 77, 13, 51, 100, 3]
-----------------------
[3, 9, 13, 51, 77, 100]
-----------------------
[100, 77, 51, 13, 9, 3]

In [27]:
# 한 번에 reverse해주서 내림차순하는 법
list10 = [9,77,13,51,100,3]
list10.sort(reverse=True)
list10

[100, 77, 51, 13, 9, 3]

### list 값 위치 출력 및 제거

In [36]:
list11 = ['a','b','c','d','e','f','c']
print(list11.index('c'))
print(list11.index('c'))

2
2

In [32]:
# pop()을 사용하면 마지막 값을 빼낸다. --- 출력 후 리스트에서 제거
list12 = ['a','b','c','d','e','f']
print(list12.pop())
list12.pop()
print(list12)

f
['a', 'b', 'c', 'd']

In [33]:
list13 = [0,1,2]
len(list13)

3

In [34]:
list14 = ['a','b','c','d','e','f']
print(len(list14))

6

# Tuple

-소괄호()로 작성되면 내부값은 ,로 구분
---추가, 수정, 삭제 불가능

##### In , not in

In [38]:
str1 = "파이썬 최고"
print("파이썬" in str1)
list1 = [77,38,10]
print(33 in list1)

True
False

# 개수 세는 것 -> .count() 명령어를 사용하자!

In [45]:
sentence = "Hi, My name is bumgi"
a = input("검색할 문자를 입력하세요 : ")

if a in sentence:
    print(f"{a}는 {sentence.count(a)}번 들어있네요!")
else:
    print(f"{a}는 들어있지 않네요!")

검색할 문자를 입력하세요 : i
i는 3번 들어있네요!

In [ ]:
list1 = [1,2,3,4,5]
[1,2,3,4,5]