In [ ]:
ip_dic = {'192.168.0.38':'나예호', '192.168.70.160':'이명기'}

In [4]:
from flask import Flask, redirect

app = Flask(__name__)

@app.route('/')
def index():
    return 'Hello World'

@app.route('/sel_emp')
def sel_emp():
    dao = DAO()
    r = dao.select()
    result = '</br>'.join(map(str, r))
    
    return result

if __name__ == '__main__':
    app.run(host='192.168.0.38', port=5021)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.0.38:5021/ (Press CTRL+C to quit)
192.168.0.38 - - [22/Sep/2022 12:28:06] "GET / HTTP/1.1" 200 -
192.168.0.38 - - [22/Sep/2022 12:28:10] "GET /sel_emp HTTP/1.1" 200 -

#### Oracle - Python 연결 Lib 설치

In [ ]:
!pip install cx_Oracle

#### Instant Client 설치
- https://www.oracle.com/kr/database/technologies/instant-client/winx64-64-downloads.html

In [ ]:
import os
LOCATION = r"C:\Users\user\instantclient_21_6"
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]

In [ ]:
import cx_Oracle

# DB 연결
- 1) Connection
- 2) Cursor
- 3) Execute
- 4) Close

In [ ]:
# 1. Connection
db_id = 'hr'
db_pw = 'hr'
db_url = '127.0.0.1:1521/xe'
conn = cx_Oracle.connect(db_id, db_pw, db_url)

# 2. Cursor
curs = conn.cursor()

# 3. Execute
sql = 'select last_name, salary from employees'
result = curs.execute(sql)
result.fetchall()

# 4. Close
# 연결 통로를 닫을 때는, 열었던 역순으로 닫는다
if curs != None:
    curs.close()
if conn != None:
    conn.close()

In [9]:
import cx_Oracle
import pandas as pd
class DAO:
    def select(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.0.1:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        
        curs = conn.cursor()
        
        sql = 'select last_name, salary from employees'
        result = curs.execute(sql)
        r = result.fetchall()
        
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
        
        return r
    
    def select_df(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.0.1:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        
        sql = 'select last_name, salary from employees'
        df = pd.read_sql(sql, conn)
        conn.close()
        return df

In [19]:
dao = DAO()
df = dao.select_df()

df[df['SALARY'] >= 10000]

C:\Users\user\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     LAST_NAME   SALARY
0         King  24000.0
1      Kochhar  17000.0
2      De Haan  17000.0
8    Greenberg  12008.0
14    Raphaely  11000.0
45     Russell  14000.0
46    Partners  13500.0
47   Errazuriz  12000.0
48   Cambrault  11000.0
49     Zlotkey  10500.0
50      Tucker  10000.0
56        King  10000.0
62     Vishney  10500.0
68        Ozer  11500.0
69       Bloom  10000.0
74        Abel  11000.0
101  Hartstein  13000.0
104       Baer  10000.0
105    Higgins  12008.0

In [ ]:
dao = DAO()
r = dao.select()
'</br>'.join(map(str, r))

# for name, salary in r:
#     print('name : {} / salary : {}'.format(name, salary))

In [ ]:
# Python 점수를 저장하려고 함
score = 100
#score의 타입은????
type(score)

# 이름을 저장하려고 함
name = '나예호'

type(name)

# 나예호와 Python점수를 동시에 저장
# class를 사용!!

In [ ]:
# VO(Value Object)
# 사용자 정의 데이터 타입

# Design Pattern
# 코드를 작성
# Refactoring

# 가장 보편적, 가장 많이 사용하는 약속된 Design
# MVC : Model, View, Controller

In [ ]:
num = 6
print(num + 5)
print(num * 5)
print(num / 5)
print(num % 5)

In [ ]:
class Scores:
    
    name = ''
    score = 0
    
    def print_info(self):
        print('이름 : {} / 점수: {}'.format(self.name, self.score))

In [ ]:
s1 = Scores()
s1.name = '나예호'
s1.score = 100

s1.print_info()

In [ ]:
from flask import Flask, request

#app : Server실행, 경로를 잡아주는 객체
app = Flask(__name__)

@app.route('/')
def index():
    
    ip = request.remote_addr
    
    if ip == '접속ㅎ':
        return '인수씨 방가방가'
    else:
        return '<h1>Hello World</h1>'

if __name__ == '__main__':
    app.run(host='내 IP', port=5021)